version: "3.9"

services:
  order-service:
    build: ./order-service
    ports:
      - "8081:8081"
    environment:
      PAYMENT_SERVICE_URL: http://payment-service:8082
    depends_on:
      - payment-service

  payment-service:
    build: ./payment-service
    ports:
      - "8082:8082"
