version: "3.8"

services:
  payment-service:
    image: payment-service:latest
    ports:
      - "8082:8082"

  order-service:
    image: order-service:latest
    ports:
      - "8081:8081"
    environment:
      PAYMENT_SERVICE_URL: http://payment-service:8082
    depends_on:
      - payment-service
