name: Docker CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Order Service image
        run: docker build -t order-service:latest ./order-service

      - name: Build Payment Service image
        run: docker build -t payment-service:latest ./payment-service
